{% extends 'base.html' %}

{% block title %}
<title>Beranda</title>
{% endblock %}

{% block content%}
<div class="container">
	  	<div class="row align-items-center">
	    	<div class="col-sm">
	      		<a href=""><img src="static/img/download.png" alt="say"></a>
	    	</div>
	    </div>
	</div>
{% endblock %}