{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
		<div class="col">
			<h1>test</h1>
		</div>
    </div>
</div>
{% endblock %}