{% block body %}
    {% csrf_token %}
    {% for program in list_of_programs %}
        {{ program.nama_program }} <br>
        <img src="{{ program.link_gambar }}" width="300" height="200"> <br>
        {{ program.deskripsi_program }} <br>
        <br><br><br>
    {% endfor %}

{% endblock %}

{% block title %}
<title>Beranda</title>
{% endblock %}

{% block content%}
<div class="container">
	  	<div class="row align-items-center">
	    	<div class="col-sm">
	      		<a href=""><img src="static/img/download.png" alt="say"></a>
	    	</div>
	    </div>
	</div>
{% endblock %}
